@media(min-width:375px) and (max-width:767px) {
}
@media(min-width:1024px){

}

/*---dec grales---*/
.align-center {
    align-self: center;
}











/*---body---*/
body {
    padding: 85px 50px;
}

/*---header---*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #ffffff;
    opacity: 0.95;
    box-shadow: 0 2px 2px 0 rgb(50 50 50 / 15%);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding: 0 50px 0 40px;
}

.header__title {
    display: none;
}

.header__logo-caja {
    width: 175px;
}

.header__nav {
    display: flex;
    gap: 5rem;
}

.nav__item {
    font-size: 1rem;
    font-weight: bold;
    color: #121210;
}

.nav__item:hover {
    color: #fda800;
}

/*---main---*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

/*---index.html section bienvenida---*/
.bienvenida {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 140px 144px 50px;
    grid-template-areas:
        "title img"
        "txt img"
        "btn img";
    grid-column-gap: 20px;
    max-width: 1100px;
}

.bienvenida__txt {
    font-size: 1.2rem;
}

.bienvenida__caja-img {
    grid-area: img;
    width: 500px;
    background-image: url(../img/index-bienvenida.jpg);
    background-size: cover;
    border-radius: 0 0 0 150px;
}

/*---index.html section antes-adoptar---*/
.antes-adoptar {
    display: none;
}

/*---index.html section intro proceso de adopcion---*/
.intro-proceso {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 360px 50px;
    grid-template-areas:
        "pasos pasos"
        "btn btn";
    max-width: 1100px;
    gap: 1rem;
}

.intro-proceso__caja-pasos {
    grid-area: pasos;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 180px;
    grid-template-areas:
        "title title title"
        "paso-1 paso-2 paso-3";
    background-color: #F7F7FC;
    border-radius: 150px 0 150px 0;
}

.intro-proceso__title {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.intro-proceso__paso {
    padding: 0 40px;
    text-align: center;
}

.intro-proceso__icon {
    width: 70px;
}

/*---colabora.html section colabora---*/
.colaborar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "socio refugios"
        "transito refugios"
        "voluntariado refugios";
    gap: 10px;
}

.colaborar__content-socio {
    grid-area: socio;
}

.colaborar__content-transito {
    grid-area: transito;
}

.colaborar__content-voluntariado {
    grid-area: voluntariado;
}

.colaborar__content-refugios {
    grid-area: refugios;
}