.en-adopcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    
    &__caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $c-gris;
        width: 62vw;
        min-width: 370px;
        border-radius: 50px;
        margin-top: 15px; 
    }

    h2{
        margin-top: 25px;
        text-align: center;
    }

    .en-adopcion-filtros{
        display: flex;
        margin-top: 15px;


        p{
            font-size: 1rem;
            font-weight: bold;
            margin-right: 15px;
            margin-top: 2.5px;
        }
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

