.como-colaborar {
    display: flex;
    flex-direction: column;

    h2{
        align-self: center;
        margin-top: 25px;
    }

    &__cards{
        gap: 2rem;
        .como-colaborar__card{
            h3{
                display: inline-block;
                margin: 0;
                position: relative;
                top: 13px;
            }
            img{
                width: 50px;
                margin-left: 10px;
            }
            div{
                display: flex;
                flex-direction: column;
                background-color: $c-gris;
                border-radius: 0 50px 0 50px;
                margin-top: 5px;
                margin-bottom: 15px;
                p{
                    padding: 20px 20px 0 20px;
                }
                a{
                    text-decoration: none;
                    color: $c-principal;
                    font-weight: bold;
                    padding-right: 40px;
                    margin-bottom: 20px;
                    text-align: end;
                }
            }
        }
    }
}

.refugios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $c-gris;
    border-radius: 50px 0 50px 0 ;
    margin-top: 25px;

    h2{
        text-align: center;
        padding-top: 25px;
    }

    &__caja{
        display: flex;
        justify-content: center;
        min-width: 375px;
        flex-wrap: wrap;
        img{
            margin: 0;
            width: 120px;
        }
    }
}

@media(min-width:1024px){
    .colaborar-grid-desktop{
        display: grid;
        grid-template-columns: 1fr 450px;
        gap: 1.5rem;
        margin-bottom: 55px;

        .refugios{
            align-self: self-start;
            height: 96.5%;
        }
    }
}