.contact {
    background-color: $c-gris;
    border-radius: 0 110px 0 110px;
    margin-bottom: 50px;
    padding: 0 50px;

    h2 {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    img {
        display: none;
    }

    form {
        padding-bottom: 50px;

        .form-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            margin-bottom: 8px;
        }

        input,
        textarea {
            border: none;
            border-radius: 10px;
        }

        input {
            height: 30px;
            outline: none;
            padding-left: 10px;
        }

        textarea {
            height: 200px;
            resize: none;
            outline: none;
            padding: 10px;
        }

        .btn {
            position: relative;
            float: right;
            top: 20px;
            height: 50px;
            border-radius: 30px;
        }
    }

}

@media(min-width:768px) {
    .contact {
        .btn {
            top: 15px;
        }
    }
}

@media(min-width:1024px) {
    .contact {
        display: grid;
        grid-template-columns: 450px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "img title"
            "img form";
        background-color: transparent;
        padding: 0;
        margin-top: 30px;
        width: 100%;

        h2 {
            grid-area: title;
            align-self: center;
        }

        img {
            display: inline-block;
            grid-area: img;
            position: relative;
            border-radius: 0 100px 0 100px;
            bottom: 0px;
        }

        &__form {
            grid-area: form;
            grid-column: 2;
            background-color: $c-gris;
            border-radius: 0 110px 0 110px;
            margin-top: 20px;
            margin-bottom: 0;
            padding: 50px;
            width: 100%; /*revisar*/
        }
    }
}