.proceso-pasos {
    h2 {
        text-align: center;
        margin-top: 25px;
    }

    h3 {
        display: none;
    }

    &__tarjeta {
        display: flex;
        flex-direction: column;
        margin: 15px 15px 30px 15px;
        background-color: $color-gris-kalito;
    }

    &__tarjeta-requisitos {
        border-radius: 50px 0 50px 0;
    }

    &__tarjeta-solicitar {
        border-radius: 30px;
    }

    &__tarjeta-encuentro {
        border-radius: 0 50px 0 50px;
    }

    &__btn {
        width: 100%;
        border: none;
        background-color: transparent;
        height: 50px;
        margin-top: 25px;
        padding-left: 30px;
        text-align: left;
    }

    &__body {
        padding: 0 30px 35px 30px;
    }

}

@media(min-width:1024px) {
    .proceso-pasos {
        &-desktop {
            display: flex;
            justify-content: space-between;

            h3 {
                display: flex;
                justify-content: center;
                margin-top: 10px; 
            }

            button {
                display: none;
            }

            .collapse {
                display: flex;
            }

            .proceso-pasos__tarjeta {
                width: 100%;
                margin: 30px 0 30px 0;

                &-solicitar {
                    margin: 30px;
                }
            }
        }
    }
}

.proceso-adopcion {
    display: flex;
    flex-direction: column;
    background-image: url(../img/proceso-adopcion.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 25px;

    &__title {
        text-align: center;
    }

    &__content {
        padding: 20px 30px;
    }
}

@media(min-width:1024px) {
    .proceso-adopcion {
        background-image: none;
        display: grid;
        grid-template-columns: 420px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "title title"
            "img caja";
        height: 650px;
        margin: 75px 0 60px 0;

        &__title{
            grid-area: title;
            grid-column: 2;
            color: $color-negro-kalito;
        }

        h3{
            color: $color-negro-kalito;
            padding: 40px 60px 0 60px;
        }
        p {
            color: $color-negro-kalito;
            padding: 0 60px;
        }

        &__content{
            grid-area: caja;
            background-color: $color-gris-kalito;
            border-radius: 0 150px 0 150px;
        }
    }

    .proceso-adopcion__caja-img {
        grid-area: img;
        width: 450px;
        height: 500px;
        background-image: url(../img/proceso-adopcion-desktop.jpg);
        background-size: cover;
        background-position: 80% 20%;
        border-radius: 0 150px 0 150px;
        position: relative;
        bottom: 80px;
    }
}